# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Vim
*.swo
*.swp

# m1-utm-ubuntu
*.vim
bcnm-0.0.1.3
execline-2.8.0.1
mdevd-0.1.4.0
nsss-0.1.0.1
s6-2.10.0.3
s6-dns-2.3.5.1
s6-linux-init-1.0.6.3
s6-linux-utils-2.5.1.5
s6-networking-2.4.1.1
s6-portable-utils-2.2.3.2
s6-rc-0.5.2.2
skalibs-2.10.0.3
utmps-0.1.0.2
musl-1.2.2
libressl-3.2.5
sources/
*.build/
